
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Questrial&display=swap');
html,
body {
  padding: 0;
  margin: 0;

    font-family: 'Outfit', sans-serif;
font-family: 'Questrial', sans-serif;
background-image: linear-gradient(127deg, #ffffff 25%, #f0f0f0 25%, #f0f0f0 50%, #ffffff 50%, #ffffff 75%, #f0f0f0 75%, #f0f0f0 100%);
background-size: 5.01px 6.65px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

